.env
/app
/.idea
*.iml
/.docker-sync

# Find nicer solution for this folders
/var
!/var/data/elasticsearch/.gitkeep
!/var/data/indexes/.gitkeep
!/var/data/media/var/.gitkeep
!/var/data/media/web/.gitkeep
!/var/data/mysql/.gitkeep
!/var/logs/app/.gitkeep
!/var/logs/nginx/.gitkeep
!/var/tmp/bootstrap.php.cache
!/var/tmp/SymfonyRequirements.php
